@import "mixin";
@import "variable";
@import "main";

.footer {
    background-color: black;

    &-container {
        margin: 0 auto;
    }

    &-title {
        justify-content: center;
        display: flex;
        color: #FEFEFE;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }

    &-article {
        color: #B9B9B9;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    &-list {
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    &-img {
        border-radius: 30px;
        padding: 14px;
        width: 10px;
        height: 10px;
    }

    &-rss {
        border: 2px solid #F8902E;
    }

    &-facebook {
        border: 2px solid #39599F;
    }

    &-twitter {
        border: 2px solid #45B0E3;
    }

    &-dribble {
        border: 2px solid #D97AB0;
    }

    &-pinterest {
        border: 2px solid #CC212C;
    }

    &-contact {
        color: #B9B9B9;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

        @include desktop {
            display: flex;
            justify-content: center;
          }

          .tel {
            @include desktop {
                padding-left: 20px;
                padding-right: 20px;
              }
          }
    }
}