@import "mixin";
@import "variable";

.main {
    margin-top: 38px;



    .main-title {
        @include fonts;
        text-transform: uppercase;
        margin-bottom: 23px;


    }

    .flex {
        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 32px;
            column-gap: 55px;
        }

    }

    .main-container {

        @include tablet {
            display: flex;
        }


        @include desktop {
            display: flex;
        }


        &.main-tablet {
            display: none;

            @include tablet {
                display: flex;
            }

            @include desktop {
                display: flex;
            }
        }

        .img-container {
            margin-bottom: 11px;
            width: 160px;
            height: 140px;

            @include tablet {
                margin-right: 21px;
                margin-bottom: 32px;
            }

            @include desktop {
                margin-right: 21px;
                margin-bottom: 32px;
            }
        }

        .main-article {
            @include fonts;
            margin: 0;
        }

        .main-text {
            color: #7C7C7C;
            font-size: 11px;
            font-family: Roboto;
            line-height: 20px;
            margin: 0;
        }

        .main-posts {
            display: none;

            @include tablet {
                display: block;
                color: #5C5C5C;
                font-size: 14px;
                font-family: Roboto;
                line-height: 26px;
            }

            @include desktop {
                display: block;
                color: #5C5C5C;
                font-size: 14px;
                font-family: Roboto;
                line-height: 26px;
            }


        }
    }
}