@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width:768px) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin fonts {
  color: $color-text;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
}

@mixin ul-position {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: revert;
  background: #fff;
}