@import "mixin";
@import "variable";
@import "main";

.section {
    margin-top: 78px;
    background: #F5F5F5;


    &-container {
        padding: 25px;

        &__tablet {
            display: flex;
            justify-content: space-between
        }
    }

    .section-title {
        @include fonts;
        text-transform: uppercase;


    }

    .section-title__tablet {
        display: none;

        @include tablet {
            display: block;
        }

        @include desktop {
            display: block;
        }
    }


    .img-section-tablet {
        @include tablet {
            display: flex;
            justify-content: space-around;

        }

        @include desktop {
            display: flex;
            justify-content: space-around;
        }
    }

    .img-section {
        margin: 0;
    }

    .img-section__tablet {
        display: none;

        @include tablet {
            display: block;
        }

        @include desktop {
            display: block;
        }
    }

    .img-section__desktop {
        display: none;

        @include desktop {
            display: block;
        }
    }
}