@import "mixin";
@import "variable";
@import "main";
@import "section";
@import "footer";



body {
  margin: 0;
  font-family: Roboto, sans-serif;

}

.container {
  margin: 25px;

  .header {
    display: flex;
    height: 37px;

    .logo-wrapper {
      display: flex;
      flex-direction: row-reverse;
    }



    .logo {
      display: block;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none;
    }

    .menu-icon {
      display: block;
      width: 44px;
      height: 37px;
      align-items: center;
      justify-content: center;
      background-color: #000;

      .navicon {
        height: 2px;
        width: 18px;
        position: relative;
        display: block;
        background: #fff;
        top: 17px;
        left: 13px;

        &:before,
        &:after {
          content: "";
          background: #fff;
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
        }

        &:before {
          top: 5px;
        }

        &:after {
          top: -5px;
        }

        &--active {
          background: transparent;
          top: 0;
          left: 0;

          &:before {
            top: 17px;
            left: 13px;
            transform: rotate(45deg);
          }

          &:after {
            top: 17px;
            left: 13px;
            transform: rotate(-45deg);
          }
        }
      }


      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }

    @include mobile {
      flex-direction: column;
    }

    .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #F5F5F5;
      overflow: hidden;
      position: absolute;
      top: 63px;
      right: 25px;
      width: 182px;
      display: none;

      @include mobile {
        flex-direction: column;

        &--opened {
          display: flex;
          justify-content: space-around;
          height: 208px;
        }
      }

      li {
        a {

          padding: 8px 13px;
          text-decoration: none;
          color: $color-text;
          font-size: 11px;
          font-family: Roboto;
          line-height: 22px;
          letter-spacing: 1.1px;
          text-transform: uppercase;

          &.first-child {
            color: #57A4A4;
          }
        }
      }

      @include tablet {
        @include ul-position;
        justify-content: center;

      }

      @include desktop {
        @include ul-position;
        justify-content: space-evenly;

      }
    }
  }

  .img-header {
    width: 100%;
    margin-top: 25px;
  }
}